* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;

    /*Cores*/
    --grad01: #FFB354;
    --grad02: #EE7A3A;
    --grad03: #FFB455;
    --grad04: #ED7839;
    --separador: #E7E7E7;
    --font01: #725C5C;
    --font02: #333333;
    --font03: #ED7839;
    --grad-button01: #FEB254;
    --grad-button02: #F0813D;
}

.primeiro-aside{
    font-size: 1.5rem;
    width: 22rem;
    height: 100vh;
    float: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    
}
.cabecalho{
    font-size: 3rem;
    color: #FFF;
    font-family: 'Roboto';
    font-weight: bold;
    
    background: linear-gradient(to bottom, var(--grad01), var(--grad02));
    min-height: 6.8rem;
   
    display: flex;
    justify-content: center; 
    align-items: center; 
}
a{
    text-decoration: none;
    color: var(--font01);
}
ul{
    list-style: none;
}
ul li{
    position: relative;
    padding-left: 2rem;
    transition: all 0.3s ease;
}
li{
    font-family: 'Quicksand';
    font-size: 1.5rem;
    border-bottom: 0.01rem solid #E7E7E7;
    line-height: 1.8rem;
    padding: 0.5rem;
}
li:hover{
    background-color: #FDF1EB;
}
li::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%; 
    background: linear-gradient(to bottom, var(--grad03), var(--grad04));
    opacity: 0;
    transition: all 0.7s ease;
}
li:hover::before{
    opacity: 1;
}
main{
    margin-left: 22rem;
    height: 100vh;
    padding-left: 2rem;
}
.cabeca-main{
    background-color: #FDF1EB;
    
}
.primeiro{
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--font01);
    font-family: 'Roboto';
}
.segundo{
    font-size: 2.2rem;
    line-height: 2.5rem;
    color: var(--font01);
    font-family: 'Roboto';
}
.primeiro-h1{
    font-family: 'Roboto';
    font-size: 2rem;
    line-height: 2.5rem;
    color: var(--font03);
    font-weight: 900;
    padding: 2rem;
}

.box{
    display: flex;
   
    
}
iframe{
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
}
.citacao{
    font-family: 'Roboto';
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: var(--font03);
    font-weight: 500;
    padding: 1rem;
}
.alinhamento{
    flex: 7;
    width: 70%;
    display: block;
}
.detalhes{
    flex: 3;
    width: 30%;
    display: block;
}
.secundaria{
    border: 1px solid #4E4E4E;
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-family: 'Quicksand';
    font-weight: 400;
    height: 65%;
    overflow: auto;
}
.detais{
    font-size: 1.2rem;
    padding-left: 2rem;  
    line-height: 2rem; 
}
.autores{
    font-size: 1.4rem;
    padding-left: 2rem;
    line-height: 2rem;
}
.university{
    font-size: 1.4rem;
    line-height: 2rem;
    padding-left: 2rem;
    color: #33333365;
}
.secundaria p strong{
    font-weight: 700;
}
.detalhes h1{
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    font-family: 'Roboto';
    color: #4E4E4E;
    background-color: #FDF1EB ;
    height: 35px;
    display: flex; 
    align-items: center; 
    padding-left: 2rem;
    border-bottom: 1px solid #4E4E4E;
}

.detalhes h2{
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.5rem;
    font-family: 'Roboto';
    color: #4E4E4E;
    display: flex; 
    align-items: center; 
    padding-left: 2rem;
}
.discussoes h1{
    font-family: 'Roboto';
    color: #4E4E4E;
    font-size: 2rem;
    line-height: 2.5rem;
    background-color: #FDF1EB;
    padding: 1.3rem;
    border-bottom: 1px solid #5c5c5c8f;
}
.discussoes h2{
    color: #ED7839;
    font-family: 'Roboto';
    font-weight: 700;
    line-height: 2.1rem;
    text-align: center;
}
.discussoes{
    margin-top: 3rem;
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #5C5C5C;
    border: 1px solid #5c5c5c8f;
    height: 200px;
    text-align: center;
    
    
}
.topico{
    width: 13rem;
    height: 3rem;
    font-family: 'Quicksand';
    font-weight: 700;
    text-align: center;

}

.resumo h1{
    font-family: 'Roboto';
    color: #4E4E4E;
    font-size: 2rem;
    line-height: 2.5rem;
    background-color: #FDF1EB;
    padding: 1.3rem;
    border-bottom: 1px solid #5c5c5c8f;
}
.resumo{
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #5C5C5C;
    border: 1px solid #5c5c5c8f;
    height: 200px;
    overflow: hidden;
    position: relative;
}
.expandido{
    height: auto;
    overflow: visible;
}
#vermais{
    position: absolute;
    bottom: 0;
    right: 0;
}
.resumo p{
    padding: 1.3rem;
}


button{
    margin: .3rem;
    color: white;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: none;
    background-color: var(--grad04);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.3s;
}
button:hover{
    background: #8d4721;
}

button.lingua{
    margin-top: 1.5rem;
    color: black;
    border: 1px solid;
    background-color: rgba(255, 255, 255, 0);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15rem;
}

div.cabeca-main{
    display: flex;
    gap: 3rem;
        
}

.inicio{
    padding-top: 1.5rem;
    font-family: 'Quicksand';
    font-size: 1.4rem;
    line-height: 1.7rem;
    text-align: right;
}

.assunto h3{
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.0rem;
    color: #ED7839;
}
.autor{
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #5C5C5C;
}
.assunto{
    text-align: justify;
    border-radius: 0.4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 1.8rem;
}

footer{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #ffffff;


}
.galoa{
    flex: 3;
    width: 30%;
}
.galoa2{
    flex: 7;
    width: 70%;
}
.galoa h1{ 
    flex: 2;
    width: 20%;
    font-size: 5rem;
    font-family: 'Roboto';
    color: rgb(29, 4, 29);
    
}
.galoa h4{
    font-size: 2rem;
    color: rgb(29, 4, 29);
}

.btnfim{
    background-color: rgb(27, 6, 27);
    width: 20rem;
}
.final{
    padding: 1rem;
    font-size: 1.5rem;
    color: #5C5C5C;
}